.container-login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    font-family: "Roboto Thin", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 3vh;
    border-radius: 0.5em;
    border: 2px solid #6d1d20;
    font-size: 1.5em;
}

.logo-img {
    width: 50%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.form-login label {
    margin: 0.5em;
}

.form-login label input {
    margin: 0;
    border: 1px solid #6d1d20;
    border-radius: 0.2em;
}

.form-login label p {
    margin: 0;
}

.btn-login-container {
    width: 100%;
    padding: 1em;
}

.btn-login {
    border: none;
    border-radius: 0.2em;
    width: 100%;
    background-color: #6d1d20;
    color: #ffffff;
    padding: 0.5em;
}